* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    background-color: #0d0d33;
    height: 100vh;
    background: url('assets/use-svg-as-background-image-particle-strokes.svg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    transition: background 0.3s, color 0.3s;
    padding-top: 80px;
}

body.light-theme {
    background: url('assets/_3qu79.gif') no-repeat center center fixed;
    background-size: cover;
    background-color: #f1f1f5;
    color: #0d0b0b;
}

.sticky-header {
    width: 100%;
    position: fixed;
    background-color: #020215;
    padding: 1rem 1rem;
    top: 0;
    z-index: 3000;
    box-shadow: 0 2px 5px solid #ffffff88;
}

#theme-toggle img {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#theme-toggle {
    font-size: 2rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#theme-toggle:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo .angle {
    color: #a259ff;
    font-weight: bold;
}

.logo .slash {
    color: #a259ff;
    font-weight: bold;
}

.logo .logo-name {
    color: #fff;
    font-weight: 900;
    padding: 3.8px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #a259ff;
}

.github-btn {
    border: 1px solid #a259ff;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    color: #a259ff;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease;
}

.github-btn:hover {
    background: #a259ff;
    color: #fff;
}

/* Hamburger icon - hidden on desktop */
#hamburger {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

#nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0d0d33;
    padding: 1rem;
    gap: 1rem;
    z-index: 1000;
}

#nav-links.show {
    display: flex;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive nav - hide by default on mobile */
@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }

    #nav-links {
        position: static;
        top: 60px;
        /* below the header */
        left: 0;
        width: auto;
        background: none;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
        display: flex;
        z-index: 1000;
    }

    #nav-links.show {
        display: flex;
    }
}

/* Animation for slide down */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero {
    padding: 6rem 4rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    flex: 1 1 500px;
    max-width: 600px;
}

.hero-text h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero-text h1.light-theme {
    color: #000;
}

.hero-text .name {
    font-size: 3.5rem;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: bold;
    color: #fff;
}

.hero-text .name .light-theme {
    color: #000;
}

.hero-text h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1rem 0;
    font-weight: 700;
}

.highlight {
    color: #a259ff;
    font-weight: 700;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-text div {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #cccccc;
    margin-bottom: 3rem;
}

.resume-btn {
    padding: 0.8rem 2rem;
    font-size: 20px;
    background: linear-gradient(90deg, #9b2020, #ba51d2);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 0 0 15px rgba(247, 89, 255, 0.863);
    transition: transform 0.3s cubic-bezier(0.25, 1.5, 0.5, 1), box-shadow 0.3s ease;
    cursor: pointer;
}

.resume-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 30px rgba(226, 92, 255, 0.7);
    cursor: pointer;
}

.hero-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.hero-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 20px rgba(162, 89, 255, 0.4);
}

#skills {
    margin: 40px auto;
    padding: 20px;
    max-width: 3000px;
}

#skills h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 900;
}

#skills p {
    font-size: 1.1rem;
    color: #dbd6d6;
    text-align: center;
    margin-bottom: 40px;
}

.skills-grp {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 20px;
}

.skills {
    padding: 20px;
    border: 2px solid #a259ff;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 8px 20px #ffffff88;
    background-color: #ffffff1a;
    margin: 20px;
    transition: transform 0.2s ease;
}

.skills:hover {
    transform: scale(1.05);
    background-color: #ffffff0d;
}

.skills h2 {
    margin-top: 30px;
    font-size: 2rem;
    color: #dbd6d6;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
}

.skills-card {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.skill {
    background-color: #a259ff;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    transition: transform 0.3s ease;
    margin: 15px;
}

.skill:hover {
    transform: scale(1.05);
    background-color: #dbe4ed;
    color: #000;
    cursor: default;
}

#experience {
    padding: 60px 20px;
    margin-bottom: 100px;
    text-align: center;
}

#experience h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
}

#experience p {
    font-size: 1.1rem;
    margin-bottom: 50px;
    color: #dbd6d6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline-item.left {
    left: 0;
    text-align: right;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
}

.timeline-logo {
    position: absolute;
    top: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.timeline-item.left .timeline-logo {
    right: -80px;
    z-index: 2;
}

.timeline-item.right .timeline-logo {
    left: -20px;
    z-index: 2;
}

.timeline-logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border: 1px solid rgba(127, 117, 117, 0.102);
    border-radius: 50px;
    background-color: #fff;
}

.card-front span {
    font-size: 0.9rem;
    color: #dbd6d6;
}

.card-front img {
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}

.card {
    background: transparent;
    perspective: 1000px;
    margin-top: 20px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 220px;
    text-align: center;
    transition: transform 0.7s ease;
    transform-style: preserve-3d;
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #a259ff;
    box-shadow: 0 8px 20px #ffffff88;
}

.card-front {
    background-color: #ffffff1a;
}

.card-back {
    background-color: #ffffff2e;
    color: #fff;
    transform: rotateY(180deg);
    text-align: justify;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #ffffff2e;
    color: #fff;
    text-align: justify;
    overflow-y: auto;
    max-height: 500px;
}

.card-front h3,
.card-front h4 {
    margin: 10px 0;
}

.card-back p {
    font-size: 0.95rem;
}

@media screen and (max-width: 768px) {
    .timeline-container::after {
        left: 8px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .timeline-item.left,
    .timeline-item.right {
        left: 0;
        text-align: left;
    }

    .timeline-logo {
        position: relative;
        left: 0 !important;
        right: 0 !important;
        margin-bottom: 10px;
    }
}

#education {
    padding-bottom: 100px;
}

.education {
    font-size: 2.7rem;
    text-align: center;
    font-weight: 600;
}

.para {
    font-size: 1.1rem;
    color: #dbd6d6;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.container {
    width: 50%;
    border: 2px solid #a259ff;
    box-shadow: 0 8px 20px #ffffff88;
    background-color: #ffffff1a;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    text-align: center;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
    background-color: #ffffff0d;
}

.edu {
    border-bottom: 1px solid #fff;
}

.edu img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
}

.edu1 {
    font-size: 1.1rem;
    font-weight: 900;
}

.edu3 {
    font-size: 0.8rem;
    color: #ffffffc2;
    margin-bottom: 10px;
}

.edu-content {
    text-align: start;
    padding-top: 10px;
}

.edu-content-1 {
    text-align: justify;
}

#contact {
    padding: 60px 20px;
    text-align: center;
}

#contact h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
}

#contact p {
    font-size: 1.1rem;
    color: #dbd6d6;
    text-align: center;
    margin: auto;
}

.contact-card {
    max-width: 600px;
    background-color: #ffffff1a;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #a259ff;
    box-shadow: 0 8px 20px #ffffff88;
}

.contact-card h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
}

.contact-card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card input,
.contact-card textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: transparent;
    resize: vertical;
    color: #fff;
}

.contact-card textarea {
    height: 120px;
}

.contact-card button {
    padding: 12px;
    background: linear-gradient(50deg, #8241d8, #a259ff);
    color: #fff;
    font-size: 1.7rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-card button:hover {
    background: #fff;
    color: #a259ff;
}

#response-message {
    margin-top: 15px;
    font-size: 0.95rem;
    color: #fff;
}

.footer {
    background: url('assets/dark-polygonal-background_79603-282.avif');
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 5rem;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.social-icons {
    margin: 1rem 0;
}

.social-icons a {
    margin: 0 0.75rem;
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s, color 0.3s ease;
}

.social-icons a:hover {
    color: #a259ff;
    transform: scale(2);
}

.copyright {
    font-size: 0.9rem;
    color: #aaa;
    margin: 1rem;
}


body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4,
body.light-theme h5,
body.light-theme h6,
body.light-theme p,
body.light-theme .name,
body.light-theme .hero-text div,
body.light-theme .edu1,
body.light-theme .edu3,
body.light-theme .edu-content,
body.light-theme .edu-content-1,
body.light-theme .skills h2,
body.light-theme .skills p,
body.light-theme .contact-card h2,
body.light-theme .contact-card label {
    color: #000 !important;
}

body.light-theme .skills h2 {
    border-bottom: 2px solid #000;
}

body.light-theme .skills,
body.light-theme .card-front,
body.light-theme .card-back,
body.light-theme .container {
    background-color: rgba(255, 192, 203, 0.312);
    box-shadow: 0 8px 20px #000;
}

body.light-theme .skill {
    background-color: #fff;
    border: 1px solid #000;
    transition: background 0.3s ease, color 0.3s ease;
    color: #000;
}

body.light-theme .skill:hover {
    background-color: #000;
    color: #fff;
}

body.light-theme .timeline-container::after {
    background-color: #000;
}

body.light-theme .timeline-logo img {
    border: #000;
}

body.light-theme .card-front span {
    color: #000000d3;
}

body.light-theme .edu {
    border-bottom: 1px solid #000000;
}

body.light-theme .contact-card {
    box-shadow: 0 8px 20px #000;
    background-color: rgba(255, 192, 203, 0.312);
}

body.light-theme .contact-card input,
body.light-theme .contact-card textarea {
    color: #000;
}

body.light-theme .contact-card button {
    transition: background 0.3s ease;
}

body.light-theme .contact-card button:hover {
    color: #fff;
    background-color: #000;
}

body.light-theme #response-message {
    margin-top: 15px;
    font-size: 0.95rem;
    color: #000;
}

body.light-theme .footer-name {
    color: #fff !important;
}

/* Responsive Media Queries */

/* Tablets and below (max-width: 1024px) */
@media screen and (max-width: 1024px) {

    .hero-text h1,
    .hero-text .name,
    .hero-text h2 {
        font-size: 2.5rem;
    }

    .resume-btn {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }

    .skills {
        width: 45%;
    }
}

/* Small tablets and large phones (max-width: 768px) */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 250px;
        height: 250px;
    }

    .skills {
        width: 80%;
    }

    .skills h2 {
        font-size: 1.5rem;
    }

    .highlight {
        font-size: 2rem;
    }

    .timeline-container::after {
        left: 5px;
    }

    .timeline-item {
        width: 100%;
        padding: 20px;
        text-align: left;
    }

    .timeline-logo {
        position: relative;
        margin-bottom: 10px;
    }

    .container {
        width: 90%;
    }

    .contact-card {
        width: 90%;
        padding: 20px;
    }

    .contact-card input,
    .contact-card textarea {
        font-size: 1rem;
    }

    .contact-card button {
        font-size: 1.3rem;
    }

    .footer ul {
        flex-direction: column;
        gap: 10px;
    }
}

/* Mobile devices (max-width: 480px) */
@media screen and (max-width: 480px) {

    #hero {
        padding: 22.5rem 1.5rem;
    }

    .hero-text h1,
    .hero-text .name,
    .hero-text h2 {
        font-size: 2rem;
    }

    .resume-btn {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    #skills {
        margin: 0;
        margin-bottom: 20px;
    }

    .skill {
        font-size: 0.85rem;
        padding: 6px 10px;
    }

    .skills {
        width: 100%;
    }

    .card-back {
        transform: rotateY(180deg);
        background-color: #ffffff2e;
        color: #fff;
        text-align: justify;
        overflow-y: auto;
        max-height: 280px;
    }

    .contact-card {
        padding: 15px;
    }

    .contact-card input,
    .contact-card textarea {
        padding: 10px;
    }

    .contact-card button {
        font-size: 1.1rem;
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }

    .timeline-logo img {
        width: 30px;
        height: 30px;
    }

    .education {
        font-size: 2rem;
    }

    .para {
        text-align: center;
        margin: 0 10px 40px 10px;
    }

    #skills h1,
    #experience h1,
    #contact h1 {
        font-size: 2rem;
    }

    #contact p {
        margin: 0 10px 40px 10px;
    }

    .footer {
        padding: 1rem;
    }
}